mkcd() {
  mkdir -p "$@" && cd "$@"
}

gac() {
    git add -A
    git commit -m $1
}

path() {
	echo "$(cd "$(dirname -- "$1")" >/dev/null; pwd -P)/$(basename -- "$1")"
}

ln2path() {
	local target_file=$1
	# Check if the target file exists
  	if [ ! -f "$target_file" ]; then
    		echo "Error: Target file does not exist."
    	return 1
  	fi
	ln -s $(pwd)/$target_file $HOME/.local/bin
}

ln2sysPath() {
	local target_file=$1
	# Check if the target file exists
  	if [ ! -f "$target_file" ]; then
    		echo "Error: Target file does not exist."
    	return 1
  	fi
	sudo ln -s $(pwd)/$target_file /usr/local/bin
}


port_kill() {
	kill -9 $(lsof -ti:$1)
}

tex2docx() {
	echo "exec:pandoc main.tex -o output.docx --filter pandoc-crossref -M tableEqns -M autoEqnLabels -t docx+native_numbering --number-sections --bibliography=ref.bib --citeproc --csl ieee-access.csl"
	pandoc main.tex -o output.docx --filter pandoc-crossref -M tableEqns -M autoEqnLabels -t docx+native_numbering --number-sections --bibliography=ref.bib --citeproc --csl ieee-access.csl
}

if [[ "$OSTYPE" == "linux-gnu"* ]]; then
	#proxy
	proxy() {
		export http_proxy="http://127.0.0.1:7890"
		export https_proxy="http://127.0.0.1:7890"
	}
	unproxy() {
		unset http_proxy
		unset https_proxy
	}
	aliUp() {
		aliyunpan upload $1 /temp
	}
fi