[user]
	name = Shuo Wang
	email = ws18022@outlook.com
[alias]
	st = status
	graph = log --all --graph --decorate
	add-commit = !git add -A && git commit -m
[core]
	excludesfile = /home/ws/.gitignore_global
