[user]
	name = Shuo Wang
	email = ws18022@outlook.com
[alias]
	st = status
	addcommit = !git add -A && git commit -m
	pullmain = pull origin main
	newbranch = checkout -b 
	discard = reset --hard
[core]
	excludesfile = /home/ws/.gitignore_global
