#tx_root has been banned
Host tx_root
	User root
	HostName 101.43.252.41
	IdentityFile ~/.ssh/id_ed25519
	LocalForward 9999 localhost:8888

Host cs144
	User cs144
	HostName localhost
	IdentityFile ~/.ssh/id_ed25519
	Port 2222
